{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $git_name := promptStringOnce . "git_name" "Git name" -}}
{{- $git_signing_key := promptStringOnce . "git_signing_key" "Git signing-key" -}}
encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1l5jqj0vns7480h52qqam7fm044cypfh0gwt5c0g6fjncwhlzwyqqm7cu5q"
[edit]
    command = "nano"
[diff]
    pager = "delta"
[data]
    email = {{ $email | quote }}
    git_name = {{ $git_name | quote }}
    git_signing_key = {{ $git_signing_key | quote }}