{{- $machine_type := promptChoiceOnce . "machine_type" "Machine type" (list "personal" "work") -}}
{{- $onepassword_account := promptStringOnce . "onepassword_account" "1Password account (e.g. my.1password.com)" -}}
encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1l5jqj0vns7480h52qqam7fm044cypfh0gwt5c0g6fjncwhlzwyqqm7cu5q"
[edit]
    command = "nano"
[diff]
    pager = "delta"
[onepassword]
    prompt = true
[data]
    email = {{ onepasswordRead "op://Personal/chezmoi-identity/email" $onepassword_account | trim | quote }}
    git_name = {{ onepasswordRead "op://Personal/chezmoi-identity/name" $onepassword_account | trim | quote }}
    git_signing_key = {{ onepasswordRead "op://Personal/chezmoi-identity/signing-key" $onepassword_account | trim | quote }}
    machine_type = {{ $machine_type | quote }}
    onepassword_account = {{ $onepassword_account | quote }}
