tap "alajmo/mani"
tap "blacktop/tap"
tap "bloznelis/tap"
tap "buo/cask-upgrade"
tap "cloudflare/cloudflare"
tap "dustinblackman/tap"
tap "fairwindsops/tap"
tap "fluxcd/tap"
tap "go-task/tap"
tap "homebrew/bundle"
tap "homebrew/services"
tap "jesseduffield/lazygit"
tap "johanhaleby/kubetail"
tap "siderolabs/tap"
tap "sonatype-nexus-community/nancy-tap"
tap "weaveworks/tap"
brew "adns"
brew "age"
brew "ansible"
brew "asdf"
brew "augeas"
brew "autoconf"
brew "bash-completion"
brew "bash"
brew "bat"
brew "calicoctl"
brew "chezmoi"
brew "cilium-cli"
brew "cloudflared"
brew "cmake"
brew "colima"
brew "coreutils"
brew "couchdb"
brew "cpanminus"
brew "curl"
brew "dict"
brew "direnv"
brew "dive"
brew "docker-buildx"
brew "docker-credential-helper"
brew "docker-slim"
brew "docker"
brew "duf"
brew "erlang"
brew "etcd"
brew "exercism"
brew "fastfetch"
brew "fish"
brew "fontconfig"
brew "gd"
brew "gdbm"
brew "gflags"
brew "gh"
brew "git-crypt"
brew "git-delete-merged-branches"
brew "git-delta"
brew "git"
brew "glib"
brew "glog"
brew "glow"
brew "gnupg"
brew "gnutls"
brew "go-task"
brew "go"
brew "golangci-lint"
brew "goreleaser"
brew "gosec"
brew "grafana", restart_service: true
brew "grex"
brew "hadolint"
brew "helm"
brew "helmfile"
brew "hexyl"
brew "highway"
brew "httpie"
brew "httping"
brew "hyperfine"
brew "imagemagick"
brew "imath"
brew "ipcalc"
brew "jasper"
brew "jless"
brew "jpeg-xl"
brew "jq"
brew "jupyterlab"
brew "krew"
brew "kube-ps1"
brew "kubebuilder"
brew "kubeconform"
brew "kubectx"
brew "kubernetes-cli"
brew "kustomize"
brew "lazygit"
brew "libarchive"
brew "libgcrypt"
brew "libgpg-error"
brew "libidn"
brew "libomp", link: true
brew "libusb"
brew "libx11"
brew "libyaml"
brew "llvm"
brew "lnav"
brew "mackup"
brew "mas"
brew "micro"
brew "minikube"
brew "moreutils"
brew "mpdecimal"
brew "nano"
brew "nmap"
brew "node"
brew "nvm"
brew "ollama"
brew "openshift-cli"
brew "pam_yubico"
brew "pkg-config"
brew "pluto"
brew "postgresql@14"
brew "pre-commit"
brew "prettier"
brew "prometheus"
brew "protobuf"
brew "pv"
brew "python@3.11"
brew "ruby"
brew "ruff"
brew "shellcheck"
brew "skopeo"
brew "slides"
brew "sops"
brew "sqlite"
brew "stern"
brew "subversion"
brew "syft"
brew "talhelper"
brew "telnet"
brew "tldr"
brew "tmux"
brew "tree"
brew "watchman"
brew "wget"
brew "xxh"
brew "yamllint"
brew "yara"
brew "yarn"
brew "yq"
brew "alajmo/mani/mani"
brew "blacktop/tap/lporg"
brew "bloznelis/tap/kbt"
brew "dustinblackman/tap/oatmeal"
brew "fairwindsops/tap/pluto"
brew "fluxcd/tap/flux"
brew "jesseduffield/lazygit/lazygit"
brew "johanhaleby/kubetail/kubetail"
brew "siderolabs/tap/talosctl"
brew "sonatype-nexus-community/nancy-tap/nancy"
brew "weaveworks/tap/gitops"
cask "1password"
cask "1password-cli"
cask "appcleaner"
cask "bartender"
cask "cameracontroller"
cask "chromedriver"
cask "crunch"
cask "cyberduck"
cask "dbngin"
cask "drawio"
cask "elgato-stream-deck"
cask "firefox@developer-edition"
cask "font-fira-code"
cask "font-hack-nerd-font"
cask "font-ibm-plex"
cask "font-source-code-pro"
cask "github"
cask "goland"
cask "gpg-suite"
cask "heynote"
cask "hyper"
cask "iterm2"
cask "kap"
cask "monitorcontrol"
cask "notion"
cask "nova"
cask "obsidian"
cask "paw"
cask "podman-desktop"
cask "qlstephen"
cask "qmk-toolbox"
cask "quicklook-json"
cask "rapidapi"
cask "secretive"
cask "sequel-ace"
cask "sequel-pro"
cask "sketch"
cask "stats"
cask "tableplus"
cask "tyke"
cask "wireshark"
cask "wombat"
cask "yubico-yubikey-manager"
mas "1Password for Safari", id: 1569813296
mas "Archiver 3", id: 1130783329
mas "Boop", id: 1518425043
mas "Clocker", id: 1056643111
mas "Color Picker", id: 1545870783
mas "CotEditor", id: 1024640650
mas "DaisyDisk", id: 411643860
mas "Disk Doctor Pro", id: 1313835178
mas "Hidden Bar", id: 1452453066
mas "Hush", id: 1544743900
mas "iPreview", id: 1519213509
mas "Ka-Block!", id: 1335413823
mas "Key Codes", id: 414568915
mas "Keynote", id: 409183694
mas "Magnet", id: 441258766
mas "Memory Cleaner", id: 518830108
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Refined GitHub", id: 1519867270
mas "RegExp", id: 1546140065
mas "Slack", id: 803453959
mas "SnippetsLab", id: 1006087419
mas "ToothFairy", id: 1191449274
mas "Unsplash Wallpapers", id: 1284863847
mas "UTC Time", id: 1538245904
mas "Xcode", id: 497799835

{{- if eq .chezmoi.hostname "HackBook-Pro" }}
# Personal Specific Packages
cask "balenaetcher"
cask "battle-net"
cask "discord"
cask "infra"
cask "lapce"
cask "ledger-live"
cask "steam"
{{- end }}

{{- if eq .chezmoi.hostname "WorkBook" }}
# Work Specific Packages
tap "gravitational/teleport", "https://github.com/gravitational/teleport"
brew "jenkins"
brew "mysql"
brew "rbenv"
brew "jfrog-cli"
brew "ruby-build"
cask "google-chrome"
cask "jabra-direct"
cask "ngrok"
cask "pycharm-ce"
{{- end }}