[user]
	name = {{ .git_name | quote }}
	email = {{ .email | quote }}
	signingkey = {{ .git_signing_key }}
[core]
	editor = nano
	pager = delta
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[interactive]
	diffFilter = delta --color-only

[delta]
	side-by-side = true
	line-numbers = true
	line-numbers-left-style = cyan
	line-numbers-right-style = cyan
	line-numbers-zero-style = dim syntax

{{- if eq .machine_type "work" }}
# this will only be included in ~/.gitconfig on work-laptop
[url "git@github.com:"]
	insteadOf = https://github.com/

{{- end }}
