#!/bin/bash
# Brewfile hash: {{ include ".chezmoitemplates/Brewfile.tmpl" | sha256sum }}
{{- if eq .chezmoi.os "darwin" }}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ template "Brewfile.tmpl" . }}
EOF

{{ end -}}
