tap "alajmo/mani"
tap "blacktop/tap"
tap "bloznelis/tap"
tap "go-task/tap"
tap "johanhaleby/kubetail"
brew "age"
brew "augeas"
brew "autoconf"
brew "bash-completion"
brew "bash"
brew "bat"
brew "chezmoi"
brew "cmake"
brew "colima"
brew "coreutils"
brew "curl"
brew "dict"
brew "direnv"
brew "dive"
brew "duf"
brew "fastfetch"
brew "fish"
brew "fontconfig"
brew "gh"
brew "git"
brew "git-delete-merged-branches"
brew "git-delta"
brew "glib"
brew "glog"
brew "glow"
brew "gnupg"
brew "gnutls"
brew "go"
brew "go-task"
brew "golangci-lint"
brew "goreleaser"
brew "gosec"
brew "grafana", restart_service: true
brew "grex"
brew "hadolint"
brew "helm"
brew "hexyl"
brew "httpie"
brew "httping"
brew "hyperfine"
brew "imagemagick"
brew "jless"
brew "jq"
brew "kube-ps1"
brew "kubebuilder"
brew "kubectx"
brew "kubernetes-cli"
brew "libarchive"
brew "libx11"
brew "llvm"
brew "lnav"
brew "mas"
brew "micro"
brew "mintoolkit"
brew "mise"
brew "moreutils"
brew "nano"
brew "nmap"
brew "ollama"
brew "pkgconfig"
brew "podman"
brew "pre-commit"
brew "prettier"
brew "prometheus"
brew "protobuf"
brew "ruby"
brew "ruff"
brew "rustup"
brew "shellcheck"
brew "skopeo"
brew "slides"
brew "sqlite"
brew "stern"
brew "subversion"
brew "telnet"
brew "tldr"
brew "tmux"
brew "tree"
brew "uv"
brew "yamllint"
brew "yarn"
brew "yq"
brew "alajmo/mani/mani"
brew "blacktop/tap/lporg"
brew "bloznelis/tap/kbt"
brew "charmbracelet/tap/mods"
brew "dustinblackman/tap/oatmeal"
brew "johanhaleby/kubetail/kubetail"
cask "1password"
cask "1password-cli"
cask "appcleaner"
cask "betterdisplay"
cask "block-goose"
cask "cameracontroller"
cask "chromedriver"
cask "claude"
cask "crunch-app"
cask "cyberduck"
cask "dbngin"
cask "drawio"
cask "firefox@developer-edition"
cask "font-fira-code"
cask "font-hack-nerd-font"
cask "font-ibm-plex-mono"
cask "font-ibm-plex-sans"
cask "font-source-code-pro"
cask "github"
cask "goland"
cask "gpg-suite"
cask "iterm2"
cask "jabra-direct"
cask "kap"
cask "memory-cleaner"
cask "monitorcontrol"
cask "nova"
cask "obsidian"
cask "podman-desktop"
cask "qlstephen"
cask "quicklook-json"
cask "rapidapi"
cask "rustrover"
cask "stats"
cask "tableplus"
cask "tyke"
cask "wireshark-app"
cask "yubico-yubikey-manager"
mas "1Password for Safari", id: 1569813296
mas "Boop", id: 1518425043
mas "Clocker", id: 1056643111
mas "Color Picker", id: 1545870783
mas "Consent-O-Matic", id: 1606897889
mas "CotEditor", id: 1024640650
mas "DaisyDisk", id: 411643860
mas "Disk Doctor Pro", id: 1313835178
mas "ExcalidrawZ", id: 6636493997
mas "Hidden Bar", id: 1452453066
mas "Hush", id: 1544743900
mas "iMovie", id: 408981434
mas "iPreview", id: 1519213509
mas "Ka-Block!", id: 1335413823
mas "Key Codes", id: 414568915
mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Refined GitHub", id: 1519867270
mas "Slack", id: 803453959
mas "SnippetsLab", id: 1006087419
mas "ToothFairy", id: 1191449274
mas "Xcode", id: 497799835

{{- if eq .machine_type "personal" }}
# Personal Specific Packages
tap "cloudflare/cloudflare"
tap "dustinblackman/tap"
tap "fluxcd/tap"
tap "siderolabs/tap"
tap "sonatype-nexus-community/nancy-tap"
tap "weaveworks/tap"
brew "cilium-cli"
brew "cloudflared"
brew "couchdb"
brew "docker"
brew "docker-buildx"
brew "docker-credential-helper"
brew "erlang"
brew "etcd"
brew "exercism"
brew "fluxcd/tap/flux"
brew "weaveworks/tap/gitops"
brew "git-crypt"
brew "helmfile"
brew "imath"
brew "ipcalc"
brew "jupyterlab"
brew "krew"
brew "kubeconform"
brew "kustomize"
brew "lazygit"
brew "minikube"
brew "sonatype-nexus-community/nancy-tap/nancy"
brew "pluto"
brew "restic"
brew "sops"
brew "siderolabs/tap/talosctl"
brew "talhelper"
brew "watchman"
brew "xxh"
cask "balenaetcher"
cask "basictex"
cask "battle-net"
cask "discord"
cask "elgato-stream-deck"
cask "infra"
cask "lapce"
cask "ledger-live"
cask "little-snitch"
cask "notion"
cask "qmk-toolbox"
cask "secretive"
cask "steam"
cask "wowup"
mas "Copilot", id: 1447330651
mas "Magnet", id: 441258766
mas "Tailscale", id: 1475387142
mas "The Unarchiver", id: 425424353
mas "Unsplash Wallpapers", id: 1284863847
{{- end }}

{{- if eq .machine_type "work" }}
# Work Specific Packages
tap "buo/cask-upgrade"
brew "calicoctl"
brew "jupyterlab"
brew "syft"
cask "google-chrome"
mas "RegExp", id: 1546140065
mas "UTC Time", id: 1538245904
{{- end }}